body {
  margin: 0;
  padding: 0;
  font-family: 'Sarabun', sans-serif;
  overflow-x: hidden;
}

header {
  padding: 2% 10%;
}

header .branding{
display: inline-block;
}

header nav {
display: inline-block;
float: right;
}

header nav ul {
  margin: 0;
  padding: 0;
  display: flex; /* Display links links next to each other */
}

header nav ul li {
  list-style: none; /* Remove bullet points */
  position: relative;
}

header nav ul li a {
  display: block; /* link properties */
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  text-decoration: none;
  color: #737370;
  font-size: 1rem;
  text-transform: uppercase;
}

header nav ul li a:hover {
  color: #3c3c3b;
}


header nav ul li a.active { /* Active nav link*/
  color: #3c3c3b;
}

.menu-toggle {
  float: right;
  color: #3c3c3b;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none; /* Display none to then show with media query */
}


/*-------------------------DROPDOWN MENU---------------------------*/

  .dropdown-icon {
    position: relative;
    left: 12%;
    bottom: 4%;
    transition: 0.5s;
    }

/* Drodown menu list*/
header nav ul li ul {
  position: absolute;
  left: 0;
  opacity: 0;
}

/* Drodown menu list*/
header nav ul li ul li {
  display: block;
  width: 200px;
}

/* Drodown menu list*/
header nav ul li.active ul {
  display: block; /*SHOWS DROPDOWN*/
  opacity: 1;
  transition: 0.5s;
}

header nav ul li.active ul a {
  font-size: 0.85rem;
}

.myClass{
  transform: rotate(180deg);
  position: relative;
  top: 10%;
}

/*---------------------------------MEDIA QUERY------------------------------------*/

@media (max-width: 900px)  {

  /* Display hamburger menu - orignally display:none*/
  .menu-toggle {
    display: block;
  }
  /* Remove links at this width*/

  header nav {
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px); /* Viewport Height */
    background-color: white;
    top: 60px;
    right: 0;
    transition: 0.5s;
  }

  header nav.active {
  right: -100%;
  }

  header nav ul {
    display: block;
    text-align: center;
  }

  header nav ul li a {
    padding: 10px 0;
    font-size: 1.1rem;
    margin: 0 25%;
  }

  /*RESPOSNIVE DROPDOWN*/

  header nav ul li.active ul {
  position: relative;
  margin: 0;
  }

  header nav ul li.active ul a {
  position: relative;
  font-size: 0.8rem;
  }

  .dropdown-icon {
    position: relative;
    left: 2%;
  }

  header nav ul li ul li {
    width: 100%;
  }

  header nav ul {
    margin: 20% 0; /*FIX NEEDS TO BE IN THE MIDDLE*/
  }

  .sub-menu-items {
    display: none;
  }

  .sub-menu-items .active {
    display: block;
  }

  .myClass2 {
  margin: 0;
  transition: 0.5s;
  opacity: 1;
  }

  .overflow{
    overflow: hidden;
  }

}

/*---------------------------------LANDING PAGE------------------------------------*/

.landing-container {
  z-index: -1;
  background-color: red;
  text-align: center;
  padding: 10% 0;
  font-size: 1.5rem;
}


/*---------------------------------MIDDLE PAGE------------------------------------*/

.middle-container {
  z-index: -1;
  background-color: grey;
  padding: 20% 0;
}
