body {
  font-family: 'Sarabun', sans-serif;
  background-color: #32a7ab;
  color: white;
  margin: 0;
}

/* <---------------HTML STYLES-------------------> */

h1 {
  font-family: 'Architects Daughter', cursive;
  margin: 50px auto 50px auto;
  font-size: 5rem;
  }

h2 {
  font-family: 'Sarabun', sans-serif;
  font-size: 2.5rem;
  margin: 25px auto;
  color: #32a7ab;
  }

h3 {
  font-family: 'Sarabun', sans-serif;
  font-size: 1.5rem;
  color: #32a7ab
  }

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 10%;
    margin: 100px auto;
 }

 footer {
   position: relative;
   bottom: 10px;
 }

/*-----------------NAVIGATION BAR-------------------*/

.navbar-container {
  padding: 2% 15%;
}

.normal-navbar {
  display: inline-block;
  float: right;
  position: relative;
  left: 5%;
}

.nav-link {
 font-size: 15px;
 text-decoration: none;
 color: white;
 padding: 20px 0;
 margin: 0 20px;
 display: inline-block;
 position: relative;
}

.nav-link::before {
 transition: 300ms;
 height: 2px; /*height of underline*/
 content: "";
 position: absolute;
 background-color: white; /*Colour of link underline*/
}

.nav-link-animate::before {
 width: 0;  /*Width of the line*/
 top: 40px;
 opacity: 0; /*line opacity invisible before*/
 /*right:50px; Starting position before hover*/
}

.nav-link-animate:hover::before {
 width: 100%; /*Width of the line = fades from 0 to 100%*/
 left:0; /*How heigh the underline raises up on hover*/
 opacity: 1; /*line opacity visible on hover*/
}

.navbar-brand {
  display: inline-block;
}

.hamburger {
  float: right;
  display: none;  /* HIDE HAMBURGER UNTIL THE DEVICE HITS A SMALLER SCREEN*/
  margin-top: 1%;
  margin-right: 5%;
  color: white;
}


/*---------------FULL SCREEN HAMBURGER NAV--------------------*/

.overlay { /* .myNav (overlay) TARGETED IN JS TO OPEN/CLOSE THE NAV - CHANGING HEIGHT TO 100% TO OPEN NAV, 0% HEIGHT TO CLOSE*/
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s; /* Smooth transition to the opening and closing functions*/
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
}

.nav-links-overlay {
  padding: 20px 0;
  margin: 0 30%;
  text-decoration: none;
  font-size: 36px;
  color: #32a7ab;
  display: block;
  position: relative;
}

.nav-links-overlay:hover{
  opacity: 85%;
}

.nav-links-overlay:active {
  opacity: 35%;
}


.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  text-decoration: none !important;
  color: #32a7ab;
}

.closebtn:hover {
  opacity: 85%;
}

@media (max-width: 999px) {
  .hamburger {
    display: inline-block;
  }
  .normal-navbar {
    display: none;
  }
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

/*-------------END OF NAV CODE-----------------*/


/*-------------INTRO-----------------*/
.top-container {
  background-color: #32a7ab
  color: white;
  text-align: center;
  position: relative;
  padding-bottom: 5%;
}

.name {
  margin-top: 3%;
}

 .profession {
   font-weight: normal;
   color: white;
 }

 .computer_giphy {
   width: 250px;
   height: 250px;
   margin: 10px auto;
 }


 /*-------------ABOUT-----------------*/

 .about-container {
   background-color: white;
   color: #32a7ab;
   text-align: center;
   padding: 25% 0;
 }

 .about-heading {
   margin: auto;
 }

 /*-------------SKILLS-----------------*/

 .skills-container {
   background-color: #32a7ab;
   text-align: center;
   padding: 25% 0;
 }

 .skills-heading {
   color: white;
   margin: auto;
 }


 /*-------------CONTACT-----------------*/

 .contact-container {
   background-color: white;
   text-align: center;
   padding: 25% 0;
   color: #32a7ab;
 }

 #contact-heading {
   margin: auto;
 }

 /*-------------FOOTER-----------------*/

 footer {
   display: block;
   background-color: #32a7ab;
   text-align: center;
   color: white;
   padding: 5% 0;
 }

 .footer-img {
   padding: 10px;
 }

 .footer-link {
   color: white;
   padding:10px;
   margin: 10px;
 }

 .copyright {
   padding-top: 10px;
   font-size: 0.8rem;
 }
